<div class="h-card hidden">
    <a class="p-name u-url" href="{{ site_url }}">{{ blog_author }}</a>
    <p class="h-geo">
        <span class="p-latitude">51.426421</span>,
        <span class="p-longitude">-0.334835</span>
    </p>
    <span class="p-locality">Teddington</span>,
    <span class="p-region">London</span>,
    <div class="p-country-name">UK</div>
</div>
