<!doctype html>
<html lang="en">
  <head>
    <title>
      {% if title %}
        {{ title }} •
      {% endif %}
      {{ blog_title }}</title>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width'>
    <meta property="og:title" content="{% if title %}{{ title }} • {% endif %}{{ blog_title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ blog_url }}{{ permalink }}" />
    <meta name="theme-color" content="#a855f7" />
    <meta name="msapplication-TileColor" content="#da532c">
    <link rel="canonical" href="{{ blog_url }}{{ permalink }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#5bbad5">
    <link href="/assets/css/rst_base.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/code.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/tailwind.css" rel="stylesheet" />
    <link type="application/atom+xml" rel="alternate" title="{{ blog_author }}'s Atom Feed" href="/feeds/feed.atom">
    <link type="application/rss+xml" rel="alternate" title="{{ blog_author }}'s RSS Feed" href="/feeds/rss.xml">
    <script>
      const isDarkMode = () => localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches);
      if (isDarkMode()) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
  </head>
  <body class="dark:text-white bg-white dark:bg-gray-900 font-sans text-gray-800">
    <div class="min-h-screen flex flex-col">
      <main class="flex-1 w-10/12 max-w-screen-sm md:max-w-screen-md mx-auto">
        {% block header %}
          {% include "includes/header.tmpl" with context %}
        {% endblock header %}
        {% block content %}{% endblock %}
      </main>
      {% block footer %}
        {% include "includes/footer.tmpl" with context %}
      {% endblock footer %}
    </div>
    <script>
      document.getElementById("toggleDarkMode").addEventListener("click", function() {
        if (isDarkMode()) {
          localStorage.theme = 'light'
          document.documentElement.classList.remove('dark')
        } else {
          localStorage.theme = 'dark'
          document.documentElement.classList.add('dark')
        }
      });
      (function() {
        const pagination = document.getElementById('pagination');
        if (pagination) {
          pagination.addEventListener('change', (event) => {
            console.log('change fired');
            const page = parseInt(event.target.value)
            console.log('value = ' + event.target.value);
            if (page === 0) {
              window.location.href = '/'
            } else {
              window.location.href = `/page/${
                event.target.value
              }/`
            }
          })
        }
      })();
    </script>
    {% block loadscripts %}{% endblock loadscripts%}
  </body>
</html>
