services:
  lookbusy:
    image: ghcr.io/vicchi/lookbusy
    networks:
      - {{ traefik_network }}
    restart: unless-stopped
    command:
      - --cpu-mode=curve
      - --cpu-util=15-20
  
  site:
    image: sebp/lighttpd
    networks:
      - {{ traefik_network }}
    expose:
      - 80
    restart: unless-stopped
    tty: true
    volumes:
        - ./public:/var/www/localhost/htdocs
        - ./lighttpd.conf:/etc/lighttpd/lighttpd.conf
        - ./custom-headers.conf:/etc/lighttpd/custom-headers.conf
    labels:
      - traefik.enable=true
      - traefik.http.middlewares.vicchi-csp.headers.contentsecuritypolicy=default-src https:; script-src https://*.{{ site_bare }}; style-src 'self' 'unsafe-inline'
      - traefik.http.routers.vicchi-org.rule=Host(`{{ site_fqdn }}`) || Host(`{{ site_bare }}`)
      - traefik.http.routers.vicchi-org.entrypoints=websecure
      - traefik.http.routers.vicchi-org.tls.certresolver=reverse-proxy-http
      - traefik.http.routers.vicchi-org.tls.options=proxy-default@file
      - traefik.http.routers.vicchi-org.middlewares=secHeaders@file,vicchi-csp
  
networks:
    {{ traefik_network }}:
      external: true
  
